POSTGRES_DB=gripmock
POSTGRES_USER=gripmock
POSTGRES_PASSWORD=change_me

# Host path to stubs directory.
GRIPMOCK_STUBS_DIR=./examples/projects/greeter/stubs

# Host path to proto directory and proto file name.
GRIPMOCK_PROTO_DIR=./examples/projects/greeter
GRIPMOCK_PROTO_FILE=service.proto
